.bluetech {
    background-color: #1b1938;
    background-image: url("./bg_universe.jpg");
    min-width: 100vw;
    min-height: 100vh;
    color: lightgrey;
}

.bluetech .head {
    width: 100%;
    min-height: 107px;
}

.bluetech .head h1 {
    margin: 0 auto;
    position: relative;
    top: 20px;
    text-align: center;
    text-indent: 30px;
    line-height: 50px;
    font-size: 40px;
    font-weight: bolder;
    background-image: -webkit-linear-gradient(left, #06a9ee, #24b9e3, #0b4edf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bluetech .运维统计 .title {
    color:#65c6e7;
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}
.bluetech .运维统计 .graph {
    margin: 0 auto;
    height: 260px;
    width:  520px;
}

.bluetech .电力概况 {
    background-image: url("./frames_电力概况.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 515px;
    min-height: 382px;
    margin: auto;
}

.bluetech .电力概况 .graph {
    margin: 0 auto;
    height: 260px;
    width:  360px;
    padding: 90px 60px;
}


.bluetech .收益统计 {
    background-image: url("./frames_收益统计.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 515px;
    min-height: 382px;
    margin: auto;
}

.bluetech .收益统计 .graph {
    margin: 0 auto;
    width: 400px;
    height:  250px;
    padding-top: 90px;
}


.bluetech .发电量统计 {
    background-image: url("./frames_发电量统计.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 515px;
    min-height: 452px;
    margin: auto;
}

.bluetech .发电量统计 .graph {
    margin: 0 auto;
    width: 430px;
    height:  300px;
    padding-top: 90px;
}


.bluetech .发电计划 {
    background-image: url("./frames_发电计划.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 763px;
    min-height: 515px;
    margin: auto;
}

.bluetech .发电计划 .graph {
    margin: 0 auto;
    width: 640px;
    height:  340px;
    padding-top: 90px;
}


.bluetech .装机容量统计 {
    background-image: url("./frames_装机容量统计.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 515px;
    min-height: 452px;
    margin: auto;
}

.bluetech .装机容量统计 .graph {
    margin: 0 auto;
    width: 390px;
    height:  230px;
    padding-top: 90px;
}
